@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 100%;
    height: auto;
}

header{
    margin: auto;
    width: 100%;
    height: auto;
    padding: 3% 5% 3% 5%;
    position: fixed;

}

nav{
    background-color: #fff;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 80px;
    box-shadow: 0px 1px 2px 1px #00000026;
    padding: 8px 16px;
}

nav img{
    width: 70px;
}

nav h1{
    margin: auto;
    font-weight: 600;
    font-size: 30px;
    color: #5f4dff;
}

ul{
    width: 70%;
    margin: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: #5f4dff;
    font-weight: 300;
    padding: 0 5% 0 5%;
}

.intro{
    width: 100%;
    margin: auto;
    height: auto;
    padding: 5% 10%;
}

.intro h1{
    text-align: center;
    margin: auto;
    font-weight: 600;
    font-size: 40px;
    color: #5f4dff;
}

.intro p{
    text-align: center;
    margin: auto;
    font-weight: 500;
    max-width: 60%;
    margin-top: 30px;
    line-height: 2.5;
}

.services{
    width: 100%;
    margin: auto;
    height: auto;
    padding: 5% 10%;
}

.services h1{
    text-align: center;
    margin: auto;
    font-weight: 600;
    color: black;
    font-size: 30px;
}

.services .maindiv{
    margin: auto;
    margin-top: 30px;
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
    height: min-content;
    border-radius: 25px;
    
    box-shadow: 0px 3px 5px 3px #00000026;
}

.services .maindiv:hover{
    border-bottom: #5f4dff 5px solid;
    transition: 0.3s;
}

.services .subdiv1{
    width: 50%;
    height: auto;
    margin: auto;
}

.services .subdiv1 img{
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.services .subdiv2{
    width: 50%;
    height: auto;
    padding: 5%;
}

.services .subdiv2 h1{
    margin: auto;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
}

.services .subdiv2 p{
    color: #737373;
    margin: auto;
    margin-top: 20px;
    line-height: 1.5;
}